.selection-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .selection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #f1f1f1;
        width: 320px;

        .selected {
            background: black;
            color: #f1f1f1;
            padding: 0.4rem;
            width: 60%;
            border-radius: 4px;
        }

        span {
            cursor: pointer;

        }
    }
}