.rendered-latex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    padding: 20px;
    width: 90%;
}

.inner-container {
    overflow: scroll;
    padding: 2rem;
}